<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    
	  {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/menu-background.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Stories</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="http://justfunfacts.com/interesting-facts-about-cappuccino/" class="block-20" style="background-image: url('images/coffee1.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">
                
                <div class="heading-menu text-center ftco-animate">
                  <h3>Cappuccino</h3>
                </div>
                
                <h2 class="heading"><a href="http://justfunfacts.com/interesting-facts-about-cappuccino/">A cappuccino is an espresso-based coffee drink that originated in Italy, and is traditionally prepared with steamed milk foam. Variations of the drink involve the use of cream instead of milk, using non-dairy milks, and flavoring with cinnamon or chocolate powder.</a></h2>
              
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://en.wikipedia.org/wiki/Darjeeling_tea" class="block-20" style="background-image: url('images/tea3.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">

                <div class="heading-menu text-center ftco-animate">
                  <h3>Darjeeling Masala Tea</h3>
                </div>
               
                <h3 class="heading"><a href="#">Popularly known as Masala Chai, it is a blend of spices, herbs, tea and milk that gives it an unforgettable aroma and refreshing taste. It's just perfect for your evening cuppa! Made in India, this tea is made by brewing black tea with a blend of exciting spices.</a></h3>
               
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://en.wikipedia.org/wiki/Cupcake" class="block-20" style="background-image: url('images/cupcake2.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">

                <div class="heading-menu text-center ftco-animate">
                  <h3>Lavender & Vanilla</h3>
                </div>
               
                <h3 class="heading"><a href="https://en.wikipedia.org/wiki/Cupcake">Are you feeling the need for some flower power? These lavender cupcakes are so fun and easy to make. Delicious lavender-infused cupcakes are topped with a beautiful lavender buttercream frosting. They’re so simple – yet pretty enough for teatime. </a></h3>
               
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://en.wikipedia.org/wiki/Black_Coffee_(DJ)" class="block-20" style="background-image: url('images/coffee2.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">

                <div class="heading-menu text-center ftco-animate">
                  <h3>Black Coffee</h3>
                </div>
               
                <h3 class="heading"><a href="https://en.wikipedia.org/wiki/Black_Coffee_(DJ)">Black coffee contains in excess of 95% water and, according to research, when consumed in moderation, does not lead to dehydration. Therefore, a cup of coffee can help contribute to the daily fluid balance.</a></h3>
               
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://en.wikipedia.org/wiki/Black_tea" class="block-20" style="background-image: url('images/tea2.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">

                <div class="heading-menu text-center ftco-animate">
                  <h3>Black Tea</h3>
                </div>
               
                <h3 class="heading"><a href="https://en.wikipedia.org/wiki/Black_tea">Black tea is a type of tea that is more oxidized than oolong, yellow, white and green teas. Black tea is generally stronger in flavor than other teas. All four types are made from leaves of the shrub Camellia sinensis.</a></h3>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="https://en.wikipedia.org/wiki/Cupcake" class="block-20" style="background-image: url('images/cupcake3.jpg');">
              </a>
              <div class="text px-4 pt-3 pb-4">

                <div class="heading-menu text-center ftco-animate">
                  <h3>Neapolitan</h3>
                </div>
               
                <h3 class="heading"><a href="https://en.wikipedia.org/wiki/Cupcake">A cupcake is a small cake designed to serve one person, which may be baked in a small thin paper or aluminum cup. As with larger cakes, frosting and other cake decorations such as fruit and candy may be applied.</a></h3>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>

    {{>footer}}

 {{>scripts}}
    
  </body>
</html>